@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Debut CSS */

@font-face {
  font-family: "Raleway-Medium";
  src: url(../fonts/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-Light";
  src: url(../fonts/Raleway-Light.ttf) format("truetype");
}

/* FLEX */
:root {
  --blueBasic: #0065fc;
  --softgrey: #deebff;
  --grey: #f2f2f2;
}

body,
.footer,
.footerBlock,
.header,
.headerWrap,
.mainWrap,
nav,
.nav,
.search,
.search i:nth-child(1),
.searchSubmit,
.filter,
.filterMenu,
.filterButton,
.filterButton i,
.filterButton a,
.nbInfo,
.nbInfo i,
.logo,
.headNav,
h1,
.headNavLink,
.housing,
.location,
.hotHousing,
.hotTitle,
.sticker,
.stickerTxt,
.stickerData,
.star,
.activity,
.activityBlock ul,
.activityBlock li,
.activityBlock ul li {
  display: flex;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
  }
}

/* CONFIG PAGE */

header,
.hotHousingList,
.activityBlock,
.housingTitle {
  display: block;
}

* {
  box-sizing: border-box;
}

.header,
main,
.footer {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main {
    margin-bottom: 4rem;
  }
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  display: flex;
  background-color: #ffffff;
  line-height: 1;
}

.mainWrap {
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .header__wrapper,
  .main__wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1081px) {
  .headerWrap,
  .mainWrap,
  .footerWrap {
    inline-size: 1344px;
    max-width: 1344px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .headerWrap,
  .mainWrap {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header,
  .mainWrap,
  .footerWrap {
    display: flex;
  }
}

/* Paragraphes et config textes */

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

h2 {
  font-weight: bold;
}

.fa,
.fas {
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* HEADER */

@media screen and (min-width: 768px) {
  .header {
    align-items: flex-end;
  }
}

.header {
  margin: auto;
  margin-bottom: 3rem;
}

.headerWrap {
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 3rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    order: 0;
    flex: 1 1 auto;
    padding-left: 1rem;
  }
}

.headNavLink[data-active="true"] {
  border-top: 2px solid var(--blueBasic);
  color: var(--blueBasic);
}

.headNavLink[data-active="false"] {
  border-top: 2px solid transparent;
  color: var(--blueBasic);
}

.headNavLink[data-active="false"]:hover {
  border-top: 2px solid var(--blueBasic);
}

.headLogin[data-active="false"] {
  border-top: 2px solid transparent;
  margin-right: 0;
  color: var(--blueBasic);
  font-weight: bold;
}

.headLogin[data-active="false"]:hover {
  border-top: 2px solid var(--blueBasic);
}

.headNavLink,
.headLogin {
  margin: 0 0.5rem;
  padding: 3rem 1.5rem 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;
}

nav {
  justify-content: space-between;
}

/* MODULE RECHERCHE */

.search,
.search input,
.searchLocation {
  height: 3.25rem;
  width: auto;
}

.search {
  position: relative;
  margin: 1.5rem 0 1.5rem 0;
}

.search INPUT {
  margin: 0;
  border: 1px solid var(--grey);
  text-indent: 1rem;
  font-weight: 700;
  padding-right: 1.5rem;
  width: auto;
}

::placeholder {
  color: black;
  font-size: 0.95rem;
}

.search i:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 3.25em;
  background-color: var(--grey);
  border-top-left-radius: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  font-size: 1rem;
}

.searchSubmit {
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--blueBasic);
  color: white;
  padding: 0 1.5rem 0 1.5rem;
  border-top-right-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  font-size: 0.95rem;
  font-weight: 700;
}

/* FILTRES */

.filter {
  align-items: center;
  padding-left: 0.25em;
  margin-left: 8px;
  margin-bottom: 1rem;
}

.filter h2 {
  margin-right: 2rem;
  font-weight: 700;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}

.filterMenu {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filterButton {
  align-items: center;
  height: 3.25rem;
  margin-right: 1.5rem;
  margin-bottom: 1.25rem;
  padding-left: 2.75em;
  font-weight: 700;
  border: 2px solid rgba(216, 216, 216, 1);
  border-top-right-radius: 1.5em 1.5em;
  border-bottom-right-radius: 1.5em 1.5em;
  border-top-left-radius: 1.5em 1.5em;
  border-bottom-left-radius: 1.5em 1.5em;
  position: relative;
}

.filterButton i {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: auto;
  left: -0.3rem;
  width: 2.6em;
  height: 2.6em;
  border-radius: 1.5em;
  font-size: 1.25rem;
  color: var(--blueBasic);
  background-color: var(--softgrey);
}

.filterButton a {
  justify-content: center;
  align-items: center;
  left: auto;
  padding-right: 1em;
  padding-left: 0.75em;
}

/* BOUTON INFO */

.nbInfo {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
}

.nbInfo i {
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 50%;
  margin: 0 0.75rem 0 0.25rem;
  font-size: 0.75rem;
  color: var(--blueBasic);
  border: 1px solid var(--grey);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* HEBERGEMENTS */

.housing {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.location {
  margin-right: 1.25rem;
}

.location,
.hotHousing {
  flex-direction: column;
  background-color: var(--grey);
  padding: 2.5rem 2rem 0;
  border-radius: 1.5rem;
}

.location .sticker {
  flex-direction: column;
}

.location .flexImg {
  height: 114px;
}

.location .imgFlex {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.location .stickerData {
  justify-content: space-between;
  height: 79px;
}

.stickerData {
  flex-direction: column;
  padding: 0.5rem 1.25rem;
}

.housingTitle h1 {
  margin-bottom: 2rem;
}

.imgFlex {
  object-fit: cover;
}

.flexImg {
  overflow: hidden;
  display: flex;
}

.stickerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .location .sticker {
    width: 31%;
  }
}

.sticker {
  width: auto;
  border-radius: 1rem;
  background-color: white;
  padding: 0.25rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 9px -3px #686868;
}

.stickerTxt {
  font-size: 0.85rem;
  align-items: flex-start;
}

.watchMore {
  font-weight: bold;
}

/* POPULAIRES */

.hotHousing {
  margin-left: 1.25rem;
  justify-content: space-between;
  width: 130%;
}

.hotTitle {
  justify-content: space-between;
}

.hotTitle h1 {
  margin-bottom: 2rem;
}

.hotHousing .sticker {
  height: 145px;
  max-width: max-content;
}

.hotHousing .flexImg {
  max-width: 126px;
}

.hotHousing .imgFlex {
  width: max-content;
  height: 100%;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.hotHousing .stickerTxt {
  flex: 0 1 100%;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.hotHousing .stickerTitle {
  margin-bottom: 0.5rem;
}

.hotHousing .stickerData {
  padding-right: 3.75rem;
}

.hotHousing .star {
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

/* ACTIVITES */

.activity {
  flex-direction: column;
  padding-bottom: 2rem;
}

.activity h1 {
  margin-bottom: 2rem;
}

.activityBlock ul {
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.activityBlock ul li {
  flex-direction: column;
}

.activityBlock li {
  max-width: 22.5%;
  max-height: 440px;
  height: 440px;
  justify-content: space-between;
}

.activityBlock .sticker {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.activityStickerLarge {
  max-height: 100%;
  height: 100%;
}

.activityStickerMedium {
  max-height: 234px;
  height: 234px;
}

.activityStickerSmall {
  max-height: 170px;
  height: 170px;
}

.activityStickerSmall2 {
  max-height: 200px;
  height: 200px;
}

.activity .flexImg {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.activity .imgFlex {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.activityStickerMedium .flexImg {
  max-height: 196px;
  height: 196px;
}

.activityStickerLarge .flexImg {
  max-height: 100%;
  height: 100%;
}

.activityStickerSmall .flexImg {
  height: 133px;
}

.activityBlock .stickerData {
  flex-direction: column;
  justify-content: center;
  height: 53px;
}

/* FOOTER */

.footer {
  background-color: var(--grey);
  padding-top: 2rem;
}

.footerWrap {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.footerBlock {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 2rem;
}

.footer ul {
  list-style: none;
}

.footer li {
  margin: 1rem 0 1rem 0;
}
