@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Debut CSS */

@font-face {
  font-family: "Raleway-Medium";
  src: url(../fonts/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-Light";
  src: url(../fonts/Raleway-Light.ttf) format("truetype");
}

/* Config Page */
:root {
  --blueBasic: #0065fc;
  --softgrey: #deebff;
  --grey: #f2f2f2;
}

header,
.headerWrap,
nav,
.nav,
.logo,
.headNav,
h1,
.headNavLink {
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  display: flex;
  background-color: #ffffff;
}

/* Paragraphes et config textes */

a {
  text-decoration: none;
}

h1 {
  font-size: 1.3rem;
  font-weight: 650;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.fa,
.fas {
  font-weight: 900;
}
/*Header*/
.header {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
}

.headerWrap {
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.logo img {
  height: 3rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.headNavLink[data-active="true"] {
  border-top: 2px solid var(--blueBasic);
  color: var(--blueBasic);
}

.headNavLink[data-active="false"] {
  border-top: 2px solid transparent;
  color: var(--blueBasic);
}

.headNavLink[data-active="false"]:hover {
  border-top: 2px solid var(--blueBasic);
}

.headLogin[data-active="false"] {
  border-top: 2px solid transparent;
  margin-right: 0;
  color: var(--blueBasic);
  font-weight: bold;
}

.headLogin[data-active="false"]:hover {
  border-top: 2px solid var(--blueBasic);
}

.headNavLink,
.headLogin {
  margin: 0 0.5rem;
  padding: 3rem 1.5rem 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;
}

nav {
  justify-content: space-between;
}

/* MODULE RECHERCHE */

.searchForm,
#search,
.searchSubmit {
  height: 3.25rem;
}

.searchForm {
  position: relative;
  margin: 1.1rem 0 1.1rem 0;
}

input[type="search" i] {
  appearance: auto;
  padding: 1px 2px;
  box-sizing: border-box;
}

.searchForm i:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 3.25em;
  background-color: var(--grey);
  border-top-left-radius: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  font-size: 1rem;
}

.searchSubmit {
  padding: 0 1.5rem 0 1.5rem;
  border-top-right-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  background-color: var(--blueBasic);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
#search {
  margin: 0;
  border: 1px solid var(--grey);
  text-indent: 1rem;
  font-weight: 700;
  padding-right: 4rem;
}

/* TAILLES ECRAN */

/* 1080p */
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .headerWrap,
  .mainWrap {
    width: 100%;
  }
}

/* 2K + */
@media screen and (min-width: 1081px) {
  .headerWrap,
  .mainWrap,
  .footerWrap {
    inline-size: 1344px;
    max-width: 1344px;
    margin: auto;
  }
}

/* 1080p +
@media screen and (min-width: 768px) {
  .header,
  .mainWrap,
  .footerWrap {
    display: flex;
  }
}

/* MENU FILTRE
.filterMenu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filterInfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: horizontal;
}
*/
