@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Debut CSS */

@font-face {
  font-family: "Raleway-Medium";
  src: url(../fonts/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-bold";
  src: url(../fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway-Light";
  src: url(../fonts/Raleway-Light.ttf) format("truetype");
}

/* FLEX */
:root {
  --blueBasic: #0065fc;
  --softgrey: #deebff;
  --grey: #f2f2f2;
}

body,
.footer,
.footerBlock,
.header,
.headerWrap,
.mainWrap,
nav,
.search,
.search i:nth-child(1),
.searchSubmit,
.filter,
.filterMenu,
.filterButton,
.filterButton i,
.filterButton a,
.nbInfo,
.nbInfo i,
.logo,
.headNav,
h1,
.headNavLink,
.housing,
.location,
.hotHousing,
.hotTitle,
.sticker,
.stickerTxt,
.stickerData,
.star,
.activity,
.activityBlock ul,
.activityBlock li,
.activityBlock ul li {
  display: flex;
}

/* CONFIG PAGE */

header,
.hotHousingList,
.activityBlock,
.housingTitle {
  display: block;
}

* {
  box-sizing: border-box;
}

.header,
main,
.footer {
  width: 100%;
  padding: 1rem;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  display: flex;
  background-color: #ffffff;
  line-height: 1;
}

.mainWrap {
  flex-direction: column;
}

/* Paragraphes et config textes */

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

h2 {
  font-weight: bold;
}

.fa,
.fas {
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* HEADER */

@media screen and (min-width: 768px) {
  .header {
    margin: auto;
    margin-bottom: 3rem;
    align-items: flex-end;
  }

  .headerWrap {
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }

  .headNavLink:active {
    border-top: 2px solid var(--blueBasic);
    color: var(--blueBasic);
  }

  .headNavLink:hover {
    border-top: 2px solid var(--blueBasic);
    color: var(--blueBasic);
  }

  #focusme {
    border-top: 2px solid var(--blueBasic);
    color: var(--blueBasic);
  }

  .headLogin[data-active="false"] {
    border-top: 2px solid transparent;
    margin-right: 0;
    color: var(--blueBasic);
    font-weight: bold;
  }

  .headLogin[data-active="false"]:hover {
    border-top: 2px solid var(--blueBasic);
  }

  .headNavLink,
  .headLogin {
    margin: 0 0.5rem;
    padding: 3rem 1.5rem 0.5rem 1.5rem;
    font-size: 14px;
    font-weight: 500;
  }

  nav {
    justify-content: space-between;
  }
}

/* MODULE RECHERCHE */

.search,
.search input,
.searchLocation {
  height: 3.25rem;
  width: auto;
}

.search {
  position: relative;
  margin: 1.5rem 0 1.5rem 0;
}

.search INPUT {
  margin: 0;
  border: 1px solid var(--grey);
  text-indent: 1rem;
  font-weight: 700;
  padding-right: 1.5rem;
  width: auto;
}

::placeholder {
  color: black;
  font-size: 0.95rem;
}

.search i:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 3.25em;
  background-color: var(--grey);
  border-top-left-radius: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  font-size: 1rem;
}

.searchSubmit {
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--blueBasic);
  color: white;
  padding: 0 1.5rem 0 1.5rem;
  border-top-right-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  font-size: 0.95rem;
  font-weight: 700;
}

/* FILTRES */

.filter {
  align-items: flex-start;
  padding-left: 0.25em;
  margin-left: 8px;
  margin-bottom: 1rem;
}

.filter h2 {
  margin-right: 2rem;
  font-weight: 700;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}

.filterMenu {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filterButton {
  align-items: center;
  height: 3.25rem;
  margin-right: 1.5rem;
  margin-bottom: 1.25rem;
  padding-left: 2.75em;
  font-weight: 700;
  border: 2px solid rgba(216, 216, 216, 1);
  border-top-right-radius: 1.5em 1.5em;
  border-bottom-right-radius: 1.5em 1.5em;
  border-top-left-radius: 1.5em 1.5em;
  border-bottom-left-radius: 1.5em 1.5em;
  position: relative;
}

.filterButton i {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: auto;
  left: -0.3rem;
  width: 2.6em;
  height: 2.6em;
  border-radius: 1.5em;
  font-size: 1.25rem;
  color: var(--blueBasic);
  background-color: var(--softgrey);
}

.filterButton a {
  justify-content: center;
  align-items: center;
  left: auto;
  padding-right: 1em;
  padding-left: 0.75em;
}

.filter .filterButton:hover {
  background-color: var(--grey);
  transition: 0.5s;
}

.filter .filterButton:hover i {
  background-color: var(--blueBasic);
  color: white;
  transition: 1s;
}

/* BOUTON INFO */

.nbInfo {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
}

.nbInfo i {
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 50%;
  margin: 0 0.75rem 0 0.25rem;
  font-size: 0.75rem;
  color: var(--blueBasic);
  border: 1px solid var(--grey);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* HEBERGEMENTS */

.housing {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.location {
  margin-right: 1.25rem;
}

@media screen and (min-width: 768px) {
  .location,
  .hotHousing {
    flex-direction: column;
    background-color: var(--grey);
    padding: 2.5rem 2rem 0;
    border-radius: 1.5rem;
  }
}

.location .sticker {
  flex-direction: column;
}

.location .flexImg {
  height: 100%;
  max-height: 114px;
  max-width: 100%;
}

.location .imgFlex {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.location .stickerData {
  justify-content: space-between;
  height: 79px;
}

.stickerData {
  flex-direction: column;
  padding: 0.5rem 1.25rem;
}

.housingTitle h1 {
  margin-bottom: 2rem;
}

.imgFlex {
  object-fit: cover;
}

.flexImg {
  overflow: hidden;
  display: flex;
}

.stickerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.sticker {
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  padding: 0.25rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 9px -3px #686868;
}

.sticker:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.stickerTxt {
  font-size: 0.85rem;
  align-items: flex-start;
}

.watchMore {
  font-weight: bold;
}

/* POPULAIRES */

.hotHousing {
  margin-left: 1.25rem;
  justify-content: space-between;
  width: 130%;
}

.hotTitle {
  justify-content: space-between;
}

.hotTitle h1 {
  margin-bottom: 2rem;
}

.hotHousing .sticker {
  height: 145px;
}

.hotHousing .flexImg {
  max-width: 126px;
}

.hotHousing .imgFlex {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.hotHousing .stickerTxt {
  flex: 0 1 100%;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.hotHousing .stickerTitle {
  margin-bottom: 0.5rem;
}

.hotHousing .stickerData {
  padding-right: 3.75rem;
}

.hotHousing .star {
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

/* ACTIVITES */

.activity {
  flex-direction: column;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .activity h1 {
    margin-bottom: 2rem;
  }

  .activityBlock ul {
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .activityBlock ul li {
    flex-direction: column;
  }

  .activityBlock li {
    max-width: 22.5%;
    max-height: 440px;
    height: 440px;
    justify-content: space-between;
  }

  .activityBlock .sticker {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .activityStickerLarge {
    max-height: 100%;
    height: 100%;
  }

  .activityStickerMedium {
    max-height: 234px;
    height: 234px;
  }

  .activityStickerSmall {
    max-height: 170px;
    height: 170px;
  }

  .activityStickerSmall2 {
    max-height: 200px;
    height: 200px;
  }

  .activity .flexImg {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .activity .imgFlex {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .activityStickerMedium .flexImg {
    max-height: 196px;
    height: 196px;
  }

  .activityStickerLarge .flexImg {
    max-height: 100%;
    height: 100%;
  }

  .activityStickerSmall .flexImg {
    height: 133px;
  }

  .activityBlock .stickerData {
    flex-direction: column;
    justify-content: center;
    height: 53px;
  }
}

/* FOOTER */

.footer {
  background-color: var(--grey);
  padding-top: 2rem;
}

.footerWrap {
  width: auto;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .footerBlock {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 2rem;
  }
}

.footer ul {
  list-style: none;
}

.footer li {
  margin: 1rem 0 1rem 0;
}

/* GESTION TAILLE SPECIFIQUE 768 + */

/* GENERAL */

@media screen and (min-width: 768px) {
  .header,
  .mainWrap,
  .footerWrap {
    display: flex;
  }
  main {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .headerWrap,
  .mainWrap,
  .footerWrap {
    width: 100%;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1344px) {
  .headerWrap,
  .mainWrap,
  .footerWrap {
    inline-size: 1080px;
    max-width: 1080px;
    margin: auto;
  }
}

@media screen and (min-width: 1344px) {
  .headerWrap,
  .mainWrap,
  .footerWrap {
    inline-size: 1300px;
    max-width: 1300px;
    margin: auto;
  }
}

/* HEADER */

@media screen and (min-width: 768px) {
  .header {
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    height: 3rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    order: 0;
    flex: 1 1 auto;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .header,
  .searchFilter,
  .housing,
  .activity,
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* FILTER */

@media screen and (max-width: 767px) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .filter {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-left: 8px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1081px) {
  .filter {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .searchSubmit i:nth-child(2) {
    display: none;
  }
}

/* HOUSING */

@media screen and (min-width: 768px) {
  .location .sticker {
    width: 32%;
  }
}

@media screen and (min-width: 768px) {
  .housing {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .housing {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .location {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .watchMore {
    margin-bottom: 1.5rem;
  }
}

/* HOT */

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotHousing {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotTitle {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotHousingList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotHousing .sticker {
    margin: 0;
    flex-direction: column;
    height: 320px;
    width: 32%;
    max-width: 32%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotHousing .flexImg {
    height: 135px;
    min-height: 220px;
    min-width: 100%;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1344px) {
  .hotHousing .flexImg {
    max-width: 30%;
    min-width: 126px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotHousing .imgFlex {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .hotHousing .stickerData {
    display: flex;
    padding: 0.5rem 1.2rem 0.5rem 1rem;
    height: 100px;
    justify-content: space-between;
  }
}

/* GESTION TAILLE SPECIFIQUE MOBILE */

/* GENERAL */

@media screen and (max-width: 767px) {
  .header,
  main,
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hotHousing,
  .location {
    flex-direction: column;
    padding: 2rem 1.25rem 0;
  }
}

@media screen and (max-width: 767px) {
  header, main, footer {
    padding: 0px;
  }
}

/* HEADER */

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .headerWrap {
    background-color: white;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .logo img {
    height: 2.2rem;
  }
}

@media screen and (max-width: 767px) {
  .headLogin {
    flex : 0 1 50%;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    text-align: right;
    align-self: center;
    padding-right: 1rem;
    font-weight: bold;
    color: var(--blueBasic);
  }
}

@media screen and (max-width: 767px) {
  .headNav {
    justify-content: space-around;
    align-content: center;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .headNavLink {
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid var(--grey);
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .headNavLink:active {
    color: var(--blueBasic);
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  #focusme {
    border-bottom: 2px solid var(--blueBasic);
    color: var(--blueBasic);
  }
}

/* SEARCH */

@media screen and (max-width: 767px) {
  .searchFilter {
    padding: 1rem 1.5rem 0;
  }
}

@media screen and (max-width: 370px) {
  .search {
    justify-content: center;
  }
}

@media screen and (max-width: 370px) {
  .search i:nth-child(1) {
    visibility: hidden;
  }
}

@media screen and (max-width: 320px) {
  .search INPUT {
    width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .search {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .btnDesktop {
    display: none;
  }
}

/* HOUSING */

@media screen and (max-width: 767px) {
  .housing {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .location {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
    width: 100%;
    border-radius: 0 0 0 0;
  }
}

/* HOT */

@media screen and (max-width: 767px) {
  .hotHousing {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
    width: 100%;
    border-radius: 0 0 0 0;
    background-color: var(--grey);
  }
}

@media screen and (max-width: 767px) {
  .hotTitle {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .hotHousingList {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .hotHousing .sticker {
    height: 145px;
  }
}

@media screen and (max-width: 767px) {
  .hotHousing .flexImg {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .hotHousing .imgFlex {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
}

@media screen and (max-width: 767px) {
  .hotHousing .stickerData {
    display: flex;
    padding: 0.5rem 1.2rem;
    flex-direction: column;
  }
}

/* ACTIVITY */

@media screen and (max-width: 767px) {
  .activityBlock {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .activity {
    padding: 2rem 1.25rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .activity .sticker {
    padding: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .activityBlock {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .activity .imgFlex {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
}

@media screen and (max-width: 767px) {
  .activityBlock ul {
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }
}

@media screen and (max-width: 767px) {
  .activityBlock ul li {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .activity .stickerData {
    flex-direction: column;
    justify-content: center;
    height: 53px;
  }
}

@media screen and (max-width: 767px) {
  .activity .flexImg {
    height: 133px;
  }
}

/* FOOTER */

@media screen and (max-width: 767px) {
  .footer {
    padding: 2rem 1.5rem 0;
  }
}

@media screen and (max-width: 767px) {
  .footerWrap {
    flex-direction: column;
  }
}